{% extends 'base.html.twig' %}
{% set roles_array = {
    "ROLE_USER" : "ROLE_USER",
    "ROLE_ADMIN" : "ROLE_ADMIN"
} %}
{% block head %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet">
{% endblock %}
{% block body %}
    {% block title %}
        <h1 class="account-title title">Manage User</h1>
        <p class="back_button">Back to <a href="/">Home</a> or <a href="/admin">admin panle</a></p>
    {% endblock %}
    <ul id="admin-list">
        <li id="admin-list-title">
            <ul>
                <li class="user-name">
                    <h3>
                        Accaunt name: <span>{{ app.user.Username }}</span>
                    </h3>
                </li>
                <li class="user_logout account-logout">
                    <a href="/logout">(Sign Out)</a>
                </li>
            </ul>
        </li>
        <li id="user-accounts-manager">
            <form name="newUser" action="/admin/new-user" method="POST" id="newUser">
                <p class="form-fields">
                    <label for="name">User name:</label>
                    <input id="name" name="name" type="text" value="New User Name"/>
                </p>
                <p class="form-fields">
                    <label for="email">User email:</label>
                    <input id="email" name="email" type="text" value="Enter email"/>
                </p>
                <p class="form-fields">
                    <label for="email">User password:</label>
                    <input id="password" name="password" type="password" value=""/>
                </p>
                <p class="form-fields">
                    <label for="email">Repeat password:</label>
                    <input id="repeat_password" name="repeat_password" type="password" value=""/>
                </p>
                <p class="form-fields">
                    <label for="userRole">User role:</label>
                    <select name="userRole" id="userRole">
                        {% for role in roles_array %}
                            <option value="{{ role }}">{{ role }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p class="setting_buttons">
                    <input class="add_botton" type="submit" value="Add New User"/>
                </p>
            </form>
        </li>
    </ul>
    <div class="response">
        {% if response is empty %}
        {% else %}
        {{ response }}
        {% endif %}
    </div>
    {% block footer %}
    {% endblock %}
{% endblock %}